.welcome-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/welcome-background.jpg);
    background-repeat:  no-repeat;     /* 画像の繰り返しを指定  */ 
    background-position: center;
    margin: 0;    /* 多分この記述いらん */
    padding: 0;
                    
}
.welcome-header{
    font-family:  "Hannari";
}

.welcome-body{
    background-color: aquamarine;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.welcome-main{
    
    border: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;

}
.welcome_background-text {
    border:  solid 1px;                             /* 枠線指定 */
    display:  inline-block;                         /* インラインブロックにする */
    padding: 10px 20px;                             /* 余白指定 */
    background-color: rgba(255, 255, 255, 0.7);   /* 背景色指定 */
}
.welcome_background-main {
    text-align:  center;    /* 文字中央寄せ */
    padding:  150px;        /* 余白指定 */
    border: solid 2px;      /* 枠線指定 */
}
/* background-imageは下記のように指定 */

