.welcome-wrapper{
    /* width: 100vw; */
    max-width: 100%; /* ビューポートの幅に合わせる */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/welcome-image.jpg);
    background-repeat:  no-repeat;     /* 画像の繰り返しを指定  */ 
    background-position: center;
    margin: 0;    /* 多分この記述いらん */
    /* padding: 0; */
    /* background-size: contain; */
    background-size: cover; /* 背景画像を要素にフィットさせる */
    padding: 20px; /* 適切な余白を設定してください */
    box-sizing: border-box; /* パディングを要素のサイズに含める */
                    
}
.welcome-header{
    font-family:  "Hannari";
    margin-top: 10px;
    color: white;
    font-size: 50px;
}

.welcome-body{
    /* background-color: aquamarine; */
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
    gap: 30px;
    /* background-color: rgba(255,255,255,10%);
    backdrop-filter: blur(10px); */
   background-color: rgba(255, 255, 255, 0.5);
}

.welcome-loginbox{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Anton', sans-serif;
    
}

.welcome-registerbox{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
}
.welcome-content{
    font-size: 20px;
    color: white;
    margin: 20px;
    font-family: "Hannari";
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.welcome-content strong {
    display: inline-block; /* strong要素を中央に配置 */
}
.welcome-mainmargin{
    margin: 0;
    padding: 35px;
}
.welcome-main{
    
    border: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Anton', sans-serif;

}
.welcome_background-text {
    border:  solid 1px;                             /* 枠線指定 */
    display:  inline-block;                         /* インラインブロックにする */
    padding: 10px 20px;                             /* 余白指定 */
    background-color: rgba(255, 255, 255, 0.7);   /* 背景色指定 */
}
.welcome_background-main {
    text-align:  center;    /* 文字中央寄せ */
    padding:  150px;        /* 余白指定 */
    border: solid 2px;      /* 枠線指定 */
}
/* background-imageは下記のように指定 */

/* .edit-mainbox{
    margin-top: 300px;
} */
/* .welcome-wrapper > *{
    backdrop-filter: blur(10px);
} */

/* -----register page------------------ */



/* -----show page------------------ */
.show-custom-form * {
    box-sizing: border-box;
}
.show-container{
    background-image: linear-gradient(90deg, rgba(65, 164, 253, 1), rgba(54, 182, 253, 1) 0%, rgba(14, 244, 255, 0.5) 78%);
    
}
main:has(.show-container){
    padding-left: 0!important;
    padding-right: 0!important;
}
/* .show-custom-form > div {
    width: 100%;
} */

/* .show-custom-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
} */
.show-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
.show-info-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    /* gap: 20px; */
    margin: 0;
    padding: 20px;
    background-color: #fff;
}

.show-image{
    width: 428px!important;
    height: 284px!important;
    object-fit: cover;
}
/* .show-info-box > * {
    width: 50%;
} */
/* 
.show-info-box img{
    width: 200px;
    height: 200px;
} */
main:has(.edit-mainbox) {
    margin: auto;
    top: 0;
    height: 310px;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.show-content-buttom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}
.justify-content-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 250px;
}
.show-back-bottom{
    display: flex;
    /* justify-content: center; */
    /* margin: 0px 30px 20px 900px; */
}
.show-description-bottom{
    display: contents;
    margin-left: 30px;
}

body:has(.show-container) {
    overflow: hidden;
}

.show-container {
    height: 100%;
}

.show-back-bottom {
    position: fixed;
    bottom: 60px;
    right: 60px;
}

/* -----header------------------ */
.app_header-wrapper {
    /* background-color: #03009A; */
    background-image: linear-gradient(90deg, rgba(65, 164, 253, 1), rgba(54, 182, 253, 1) 0%, rgba(14, 244, 255, 0.5) 78%);
}
.app_navbar-brand {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.app_nav-link{
    color: #fff;
    text-decoration: none;
}

.header_profile-icon {
    width: 60px;
    height: 60px;
}
.header_profile-icon > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.nav-item {
    align-self: center;
}
.nav-item > a{
    font-size: 20px;
}



/* -----footer------------------ */
.app_footer {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    text-align: center;
    /* background-color: #03009A; */
    background-image: linear-gradient(90deg, rgba(14, 244, 255, 1) 24%, rgba(24, 228, 254, 1) 39%, rgba(54, 183, 253, 1) 77%, rgba(65, 164, 253, 1) 100%, rgba(54, 182, 253, 1));
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright {
    /* line-height: 30px; */
    color: #fff;
    font-weight: lighter;
    font-size: 10px;
    margin: 0!important;
}
  /* -----login------------------ */

.login-mainbox{
    padding: 100px;
}
.login-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-formbox{   
    width: 300px; 
}

main:has(.login-mainbox) {
    margin: 50px;
    padding: 80px;
    top: 0;
    bottom: 0;
    width: 100%;
}


main:has(.login-mainbox) {
    margin-left: 0!important;
    margin-right: 0!important;
} 

.login-loginbox {
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}

@media (max-width: 576px) {
    .login-mainbox {
        margin-top: 3rem;
    }
}
/*---register----*/

.register-mainbox{
    padding: 100px;
}

.register-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.register-head{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.register-submitbox{
   align-content: center;
}

    

/* -----index------------------ */
/* .tasks-index_body {
    background-color: #DAA520;
} */

.tasks-index_body {
    height: 200px;
    width: 90%;
    background-image: linear-gradient(90deg, rgba(65, 164, 253, 1), rgba(14, 244, 255, 1));
    /* background-image: linear-gradient(90deg, rgba(89, 248, 57, 1), rgba(95, 125, 50, 1) 100%, rgba(97, 94, 48, 1)); */
}
.tasks_cardpart {
    background-image: linear-gradient(90deg, rgba(65, 164, 253, 0.35), rgba(14, 244, 255, 0.35));
}
.btn {
    background-image: linear-gradient(90deg, rgba(65, 164, 253, 0.35), rgba(14, 244, 255, 0.35));
}


.tasks-index_scroll{
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    display: flex;
    gap: 20px;
}