.welcome-wrapper{
    /* width: 100vw; */
    max-width: 100%; /* ビューポートの幅に合わせる */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/welcome-background2.jpg);
    background-repeat:  no-repeat;     /* 画像の繰り返しを指定  */ 
    background-position: center;
    margin: 0;    /* 多分この記述いらん */
    /* padding: 0; */
    /* background-size: contain; */
    background-size: cover; /* 背景画像を要素にフィットさせる */
    padding: 20px; /* 適切な余白を設定してください */
    box-sizing: border-box; /* パディングを要素のサイズに含める */
                    
}
.welcome-header{
    font-family:  "Hannari";
    margin-top: 10px;
    color: white;
}

.welcome-body{
    /* background-color: aquamarine; */
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
    /* background-color: rgba(255,255,255,10%);
    backdrop-filter: blur(10px); */
   background-color: rgba(255, 255, 255, 0.7);
   
   
   
}

.welcome-loginbox{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Anton', sans-serif;
}

.welcome-registerbox{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
}
.welcome-content{
    font-size: 20px;
    color: white;
    margin: 20px;
    font-family: "Hannari";
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.welcome-content strong {
    display: inline-block; /* strong要素を中央に配置 */
}
.welcome-mainmargin{
    margin: 0;
    padding: 35px;
}
.welcome-main{
    
    border: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;

}
.welcome_background-text {
    border:  solid 1px;                             /* 枠線指定 */
    display:  inline-block;                         /* インラインブロックにする */
    padding: 10px 20px;                             /* 余白指定 */
    background-color: rgba(255, 255, 255, 0.7);   /* 背景色指定 */
}
.welcome_background-main {
    text-align:  center;    /* 文字中央寄せ */
    padding:  150px;        /* 余白指定 */
    border: solid 2px;      /* 枠線指定 */
}
/* background-imageは下記のように指定 */

/* .edit-mainbox{
    margin-top: 300px;
} */
/* .welcome-wrapper > *{
    backdrop-filter: blur(10px);
} */

.show-custom-form * {
    box-sizing: border-box;
}

.show-custom-form > div {
    width: 100%;
}

.show-custom-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

main:has(.edit-mainbox) {
    margin: auto;
    top: 0;
    height: 310px;
    bottom: 0;
    position: absolute;
    width: 100%;
}